In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

In [ ]:
conn=sqlite3.connect("C:\\Users\\fatem\\Downloads\\travel.sqlite\\travel.sqlite")

In [ ]:
tables=pd.read_sql("SELECT * from sqlite_master where type='table';", conn)
tables

In [ ]:
pd.read_sql("SELECT * from aircrafts_data;", conn)

In [ ]:
pd.read_sql("SELECT * from bookings LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT * from flights LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT * from airports_data LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT * from tickets_flight LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT * from seats LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT * from boarding_passes  LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT * from tickets  LIMIT 20;", conn)

In [ ]:
pd.read_sql("SELECT count(flight_no) from flights WHERE status='Scheduled';",conn)

In [ ]:
pd.read_sql("SELECT count(flight_no) from flights WHERE status='Arrived';",conn)

In [ ]:
pd.read_sql("SELECT count(flight_no) from flights WHERE status='cancelled';",conn)

In [ ]:
pd.read_sql("SELECT COUNT(seat_no) from seats WHERE fare_conditions='Business';",conn)

In [ ]:
df = pd.read_sql("""
    SELECT
        seat_no,
        CASE
            WHEN fare_conditions = 'Business' THEN 'Business'
            WHEN fare_conditions = 'Comfort' THEN 'Comfort'
            ELSE 'Economy'
        END AS Category
    FROM seats;
""", conn)

In [ ]:

plt.figure(figsize=(8, 6))
sns.countplot(data=df, x='Category', palette='Set2')


plt.title('Seat Category Distribution', fontsize=16)
plt.xlabel('Category', fontsize=12)
plt.ylabel('Number of Seats', fontsize=12)


plt.show()

In [ ]:
pd.read_sql("SELECT flight_id, COUNT(ticket_no) AS Total_Passengers from ticket_flights Group by flight_id;",conn)

In [ ]:

df = pd.DataFrame({
    'flight_id': [1, 5, 33117],
    'passenger_count': [79, 93, 16]
})

plt.figure(figsize=(8, 6))
sns.barplot(data=df, x='flight_id', y='passenger_count', palette='Blues_d')


plt.title('Passenger Count by Flight', fontsize=16)
plt.xlabel('Flight ID', fontsize=12)
plt.ylabel('Passenger Count', fontsize=12)

plt.show()

In [ ]:
ticket_flights = pd.read_sql("""
    SELECT
        flight_id,
        COUNT(ticket_no) AS Total_Passengers,
        CASE
            WHEN COUNT(ticket_no) < 50 THEN 'Low'
            WHEN COUNT(ticket_no) BETWEEN 50 AND 150 THEN 'Medium'
            ELSE 'High'
        END AS Category
    FROM ticket_flights
    GROUP BY flight_id;
""", conn)

print(ticket_flights.head())

In [ ]:
plt.figure(figsize=(10, 6))

# Create a bar plot
sns.barplot(data=category_passengers, x='Category', y='Total_Passengers', palette='viridis')

# Add title and labels
plt.title('Total Passengers by Flight Category', fontsize=16)
plt.xlabel('Passenger Category', fontsize=12)
plt.ylabel('Total Passengers', fontsize=12)

# Display the plot
plt.show()

In [ ]:
# Define the query
query = """
    SELECT
        status,
        COUNT(flight_no) AS flight_count
    FROM
        flights
    WHERE
        status IN ('Scheduled', 'Cancelled', 'Arrived')
    GROUP BY
        status;
"""


flight_status_data = pd.read_sql(query, conn)

plt.figure(figsize=(8, 6))
sns.barplot(x='status', y='flight_count', data=flight_status_data, palette='Set2')


plt.title('Flight Status Distribution', fontsize=16)
plt.xlabel('Flight Status', fontsize=12)
plt.ylabel('Number of Flights', fontsize=12)


plt.show()